@import './reset.scss';

h1 {
	font-size: 4rem;
	margin-bottom: .5rem;
	font-family: 'Dancing Script', cursive;
}
p {
	font-size: 1rem;
	margin-bottom: 3rem;
	font-family: 'Open Sans', sans-serif;
}

button {
	height: 40px;
	border: none;
	border-radius: 4px;
	background-color: white;
	border: solid thin lightgray;
	font-weight: 900;
	padding: 0 0.75rem;
	font-size: 1rem;
	cursor: pointer;
	transition: all .2s ease;
	outline: none!important;
	overflow: hidden;
	position: relative;
}