@import './reset.scss';

h1 {
	font-size: 5rem;
	margin-bottom: .5rem;
	font-family: 'Dancing Script', cursive;
}
p {
	font-size: 1.25rem;
	margin-bottom: 3rem;
	font-family: 'Open Sans', sans-serif;
}

button {
	height: 45px;
	border: none;
	border-radius: 6px;
	background-color: white;
	border: solid thin lightgray;
	font-family: 'Open Sans', sans-serif;
	font-weight: 900;
	padding: 0 1.25rem;
	font-size: .9rem;
	cursor: pointer;
	transition: all .2s ease;
	outline: none!important;
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
}